* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h4 { 
    margin: 20px !important;
    text-align: center;
}

.card-blue {
    height: 300px;
    display: flex;
    align-items: center;
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    min-width: 100%;
    min-height: 90%;
    padding-right: 0;
    margin-right: 0;
}


.available-data-list {
    overflow: scroll;
    max-height: 22vh;
    overflow-x: hidden;
}


.chart {
    width: 33%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    overflow: visible;
    padding: 28px;
}

.c6 {
    overflow: hidden;
}

@media (min-width: 600px) {
    .chart {
        width: 49%;
    }
}


@media (min-width: 800px) {
    .chart {
        width: 33%;
    }
}

#anomalies-scrollable-card {
    max-height: 70vh;
    overflow: scroll;
}

.anomaliesTable {
    overflow: auto;
    margin: auto;
}

#chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 90%;
    overflow: hidden;
}

.action-left {
    align-items: flex-start;
    width: 30%;
}

.action-center {
    align-items: center;
    display: inline-flex;
    width: 45%;
    font-weight: bold;
}

.row-separator {
    margin-right: 3vw;
}

label {
    margin-left: 20px;
}

.loading {
    margin-left: 40vw;
    max-width: 20vw;
}

.action-right {
    align-items: right;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.action-bar {
    font-size: 1rem;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.chart_title{
    width: '100%'; 
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}



#header {
    height: 12vh;
}

#footer {
    height: 6vh;
}

#main-logo {    
    min-width: 100%;
    min-height: 100%;
}

.standard-bg {
    width: 100vw;
    height: 82vh;
    background-image: url("../images/AnomalyBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#anomaly-pct-label {
    font-size: 2rem;
    font-weight: bold;
}