* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 102.5%;
}



h4 {
    margin: 20px !important;
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    min-width: 100%;
    min-height: 90%;
    padding-right: 0;
    margin-right: 0;
}


img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}


.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {

    width: 100%;
    min-width: 33%;
    height: 400px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 28px;

}

.anomaliesTable {
    width: 98%;
    overflow: auto;
    margin: auto;
}

h4 {
    text-align: center;
    padding-top: 25px;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
    border-radius: 15px;
}


@media (min-width: 600px) {

    .c1,
    .c2,
    .c3,
    .c4,
    .c5,
    .c6 {
        width: 49%;
    }

}


@media (min-width: 800px) {

    .c1,
    .c2,
    .c3,
    .c4,
    .c5,
    .c6 {
        width: 33%;
    }
}


#chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 90%;
    overflow: hidden;
}

.dropdown-toggle {
    font-weight: bolder !important;
}

.horizontalFilters {
    display: flex;
}

.dropdown-toggle {
    margin-right: 100px;

}

.action-left h3 {
    text-align: center;
    font-weight: bold;
}

.action-left h4 {
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
}

.action-left {
    align-items: flex-start;
    width: 30%;
}

.action-center {
    align-items: center;
    display: inline-flex;
    width: 45%;
    font-weight: bold;
}

.row-separator {
    margin-right: 5vw;
}

label {
    margin-left: 20px;
}

.action-right {
    align-items: right;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.list-group-item-primary {
    font-weight: bolder;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.list-group {
    max-height: 250px;
    overflow: auto;
}

.action-bar {
    font-size: 1rem;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.chart_title{
    width: '100%'; 
    text-align: center;
    font-weight: bolder;
    font-size: 25px;

}

input[type="range"] {
    width: 100%;
}